In [50]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [51]:
url = 'https://www.imdb.com/'

# get contents from url
content = requests.get(url).content

In [52]:
# get soup
soup = BeautifulSoup(content,'lxml') # lxml parser

In [53]:
# links in nav-bar
hamburger_links = soup.find_all('a', role="menuitem", 
        class_="ipc-list__item nav-link NavLink-sc-19k0khm-0 dvLykY ipc-list__item--indent-one")

In [54]:
# link for top rated movies
for link in hamburger_links:
    if (link.text == "Top Rated Movies"):
        print(link['href'])
        imdb_top_rated = link

/chart/top/?ref_=nv_mv_250

In [56]:
# top imdb rated movies
next_url = url+imdb_top_rated['href']
# get contents from next_url 
content = requests.get(next_url).content

In [57]:
# soupify
soup = BeautifulSoup(content,'lxml')

In [58]:
sidebar = soup.find("div", {"id": "sidebar"})
div = sidebar.find_all("div", class_="aux-content-widget-2")[3]
row = div.find_all("div", class_="table-row")[0].find_all('a')[0]

In [61]:
next_url = url + row['href']

In [63]:
content = requests.get(next_url).content
soup = BeautifulSoup(content, 'lxml')

In [64]:
tables = soup.find_all("table", class_="chart full-width")[0].find('tbody')
rows = tables.find_all("tr")[:100]

In [65]:
names = []
release_years = []
ratings = []

In [66]:
for row in rows:
    row_data = row.find_all("td")
    name, release_year = row_data[1].text.split("\n")[-3:-1]
    rating = row_data[2].text.strip()
    names.append(name)
    ratings.append(rating)
    release_years.append(release_year)

In [67]:
data_dict = {
    "Movies" : names,
    "Realeased" : release_years,
    "Rating" : ratings
}

In [68]:
df = pd.DataFrame(data_dict)

In [69]:
df.head()

                    Movies Realeased Rating
0                  Nayakan    (1987)    8.5
1               Anbe Sivam    (2003)    8.5
2        Pariyerum Perumal    (2018)    8.5
3                  Golmaal    (1979)    8.5
4        C/o Kancharapalem    (2018)    8.5