In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://www.nobroker.in/"

In [3]:
content = requests.get(url).content
soup = BeautifulSoup(content,"lxml")

In [4]:
listings_links = soup.find_all("div", class_="nb__CBhPh")

In [5]:
# all the links for listings along with area
descriptions = []
links = []

for each in listings_links:
    block_data = each.find_all("div",'nb__2OcRd')[0]
    location_listing_links = block_data.find_all("a",class_="nb__1pJSa")
    for each_ in location_listing_links:
        descriptions.append(each_.text.strip())
        links.append(each_['href'])

In [6]:
# just getting the top link
next_url = url + links[0]

content = requests.get(next_url).content
soup = BeautifulSoup(content,"lxml")

In [7]:
# listings block
listings = soup.find_all("div",class_="nb___msB2")[0]

In [8]:
listCardContainer = listings.find_all('article')

In [9]:
house_titles = []
locations = []
areas = []
emis = []
prices = []

In [10]:
for each in listCardContainer:
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

    posting = each.find_all("div",class_="nb__2JHKO")[0]
    section = posting.find('section')

#     house title, location 
    section_1 = section.find_all('div', class_="nb__sDz3z")[0]
    section_2 = section_1.find('a')['title']
    house_titles.append(section_2)
    print("House Title: ",section_2)
    
    section_3 = section_1.find('div').find('div').text.strip()
    print("Location: ", section_3)
    locations.append(section_3)
    
#     area, emi and price
    div_element = posting.find("div", class_="nb__2mJqs")
    div_element_1 = div_element.find_all('div', class_="nb__17R6o")[0]
    div_elements_2 = div_element_1.find_all('div', class_="nb__2NPHR")[1:]
    
#     area
    data_1 = div_elements_2[0]
    area = data_1.find('div').find_all('div')[0].text.strip()
    areas.append(area)
    print("Area: ", area)
    
#     emi
    data_2 = div_elements_2[1]
    emi = data_2.find('div').text.strip()
    emis.append(emi)
    print("EMI: ", emi)

    
#     price
    data_3 = div_elements_2[2]
    price = data_3.find('div').text.strip()
    prices.append(price)
    print("Price",price)
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
House Title:  2 BHK In Independent House  For Sale  In Koramangala
Location:  Independent House, 7th B cross near Koramangala BDA Complex
Area:  2,000 sqft
EMI:  ₹3.55 Lacs/Month
Price ₹6.2 Crores
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
House Title:  2 BHK Flat  For Sale  In Bilden Swarganga In Koramangala
Location:  1st Block Koramangala, Bengaluru, Karnataka 560034, India
Area:  1,150 sqft
EMI:  ₹41,266/Month
Price ₹72 Lacs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
House Title:  3 BHK Flat  For Sale  In Raheja Residency, Koramangala In Koramangala
Location:  7th Cross Rd, 3rd Block, Koramangala 1A Block, Koramangala 3 Block, Koramangala, Bengaluru, Karnataka 560034, India
Area:  1,695 sqft
EMI:  ₹1.03 Lacs/Month
Price ₹1.79 Crores
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
House Title:  2 BHK Flat  For Sale  In Dhanush Shree Homes, Koramangala In Koramangala
Location:  Near HDFC Bank, Koramangala 1st Block.
Area:  1,600 sqft
EMI:  ₹67,057/Month
Price ₹1.17 Crores
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
House Title:  4+ BHK Flat  For Sale  In Shree Lakshmi Venkata Sai Construction In Cauvery Colony
Location:  S.T. Bed Extension Near Muneshwara Swamy Temple
Area:  9,600 sqft
EMI:  ₹3.15 Lacs/Month
Price ₹5.5 Crores
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
House Title:  2 BHK Flat  For Sale  In Shree Lakshmi Venkata Sai Construction In Cauvery Colony
Location:  S.T. Bed Extension Near Muneshwara Swamy Temple
Area:  1,200 sqft
EMI:  ₹42,985/Month
Price ₹75 Lacs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
House Title:  2 BHK Flat  For Sale  In Shree Lakshmi Venkata Sai Construction In Cauvery Colony
Location:  S.T. Bed Extension Near Muneshwara Swamy Temple
Area:  1,200 sqft
EMI:  ₹48,717/Month
Price ₹85 Lacs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
House Title:  2 BHK Flat  For Sale  In Shree Lakshmi Venkata Sai Construction In Cauvery Colony
Location:  S.T. Bed Extension Near Muneshwara Swamy Temple
Area:  1,200 sqft
EMI:  ₹45,851/Month
Price ₹80 Lacs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
House Title:  4 BHK Flat  For Sale  In Sterling Infinia In Koramangala
Location:  Sterling Infinia  Sarjapur Main Rd, Jakkasandra Extension, Koramangala, Bengaluru, Karnataka 560034, India
Area:  3,233 sqft
EMI:  ₹2.24 Lacs/Month
Price ₹3.9 Crores
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
House Title:  2 BHK Flat  For Sale  In National Games Village Complex In Koramangala
Location:  National Games Village Complex  National Games Village Complex
Area:  1,468 sqft
EMI:  ₹54,448/Month
Price ₹95 Lacs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [11]:
data_dict = {
    "Title" : house_titles,
    "Location" : locations,
    "Area" : areas,
    "EMI" : emis,
    "Price" : prices
}

In [12]:
df = pd.DataFrame(data_dict)
df.index = df.index+1
df.head()

,Title,Location,Area,EMI,Price
1,2 BHK In Independent House For Sale In Koram...,"Independent House, 7th B cross near Koramangal...","2,000 sqft",₹3.55 Lacs/Month,₹6.2 Crores
2,2 BHK Flat For Sale In Bilden Swarganga In K...,"1st Block Koramangala, Bengaluru, Karnataka 56...","1,150 sqft","₹41,266/Month",₹72 Lacs
3,"3 BHK Flat For Sale In Raheja Residency, Kor...","7th Cross Rd, 3rd Block, Koramangala 1A Block,...","1,695 sqft",₹1.03 Lacs/Month,₹1.79 Crores
4,"2 BHK Flat For Sale In Dhanush Shree Homes, ...","Near HDFC Bank, Koramangala 1st Block.","1,600 sqft","₹67,057/Month",₹1.17 Crores
5,4+ BHK Flat For Sale In Shree Lakshmi Venkat...,S.T. Bed Extension Near Muneshwara Swamy Temple,"9,600 sqft",₹3.15 Lacs/Month,₹5.5 Crores